@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}

a {
    display: inline;
    text-decoration: none;
}

.nav__link--primary {
  margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 400;
  padding: 8px;
  font-size: 16px;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}



.nav__link--primary:after {
    content: "";
    width: 0;
    height: 0;
}


.nav__link--primary:hover {
  text-decoration: none;
  underline: none;
}

/* Button MENU
*/

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #7342d6;
  display: none;
  margin-left: auto;
}

.menu__backdrop {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  transform: translate(100%);
  text-decoration: none;
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
    height: 100%;
}

.menu__link--primary {
    color: #f7fafc;
    padding:5px 32px 5px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu__list {
  padding: 32px 0;
  text-decoration: none;
}

.menu__link {
  color: black;
    text-decoration: none;
  font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.btn__menu--close {
  position: fixed;
    top: 24px;
    right: 18px;
    border: none;
    background-color: transparent;
}



html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #ffffff;
  padding-top: 36px;
}

a {
  color: black;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  padding: 8px 24px;
  text-decoration: none;
  transition: all 300ms ease;
  position: relative;
}

h1 {
  font-size: 48px;
}

h2 {
  display: block;
  font-weight: bold;
}

section {
  padding: 0 32px;
}

.nav__link:after {
  content: ""; transform: scaleX(0);
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  transition: all 300ms ease;
  opacity: 0;
}

.nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
  opacity: 1; transform: scaleX(1);
}

/* a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: purple;
  height: 2px;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
  transition: all 300ms ease;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
} */

.nav__row {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 975;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-left: 16px;
  position: relative;
}

.login {
  margin-left: 30px;
}

.button {
  background-color: #6415ff;
  color: white;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 500;
}

/* 

BEAUTIFUL REACT TEMPLATES FOR YOU SECTION   

*/

header {
  position: relative;
}

.container {
  padding: 96px 0;
}

header .row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__description {
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-right: 64px;
}

.purple {
  color: #6415ff;
}

.header__description--para {
  margin: 20px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #a0aec0;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: #a0aec0;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

.header__customers--title {
  margin-top: 48px;
  color: #a0aec0;
  letter-spacing: 0.5 px;
  font-size: 12px;
  font-weight: 700;
}

.header__customers {
  padding-right: 0px;
  margin-top: 6px;
  display: flex;
  width: 100%;
  opacity: .5;
}

.header__img--wrapper {
  width: calc(100% - 40%);
}

.header__img {
  width: 100%;
  height: 100%;
}


/* 

FEATURES SECTION

*/

.container {
  padding: 80px 0;
}


.features__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__content--title {
  text-align: center;
  color: #6415ff;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.features__content--description--purple {
 
  color: #6415ff;
}

.features__content--description {
  text-align: center;
  color: #243e63;
  margin: 16px 0 16px 0;
  line-height: 1.5;
  width: 100%;
}

.features__para {
  text-align: center;
  color: #7c8ba1;
  max-width: 576px;
  font-weight: 500;
  line-height: 1.625;
}

.features__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content:center;
}

.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 34px 24px;
}

.features__card--image {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.feature__text {
  margin-top: 8px;
  margin-left: 16px;
}

.features__card--title {
  display: block;
}

.features__card--description {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(634px / 3);
  line-height: 2;
  font-weight: 500;
  color: rgb(124, 139, 161);
  display: block;
}

/*

QUALITY SECTION


*/

.container {
  padding: 96px 0;
}

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.quality__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 576px;
  margin-right: 64px;
}

.quality__content--title {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.quality__content--description {
  line-height: 1.25;
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0;
  color: rgb(36, 62, 99);
  letter-spacing: 0.025em;
}

.quality__content--description--purple {
  color: #6415ff;
}

.quality__para {
  color: #7c8ba1;
  line-height: 1.625;
  font-size: 18px;
  font-weight: 500;
}

.quality__button {
  margin-top: 32px;
  border: none;
  background-color: #6415ff;
  color: white;
  padding: 12px 32px;
  border-radius: 500px;
  font-size: 14px;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
  width: 30%;
}

.quality__image--wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 56px;
  width: 50%;
}

.quality__image {
  width: 100%;
}

/*

STEPS SECTION

*/


#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.steps__content {
  width: 50%;
  max-width: 576px;
  margin-right: 64px;
}

.steps__content--title {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.steps__content--description {
  line-height: 1.25;
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0;
  color: rgb(36, 62, 99);
  letter-spacing: 0.025em;
}

.steps__content--description--purple {
  color: #6415ff;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}

.step__title {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

.steps__image--wrapper {
  display: flex;
  position: relative;
  margin: 0 56px;
  width: 50%;
}

.steps__image {
  width: 100%;
  height: 100%;
}

/*

VALUES SECTION

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values__description--box {
  width: 50%;
  padding: 32px 64px 32px 0;
}

.values__content {
  width: 100%;
  max-width: 576px;
  margin-right: 64px;
}

.values__content--title {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.valuesandpurple {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.values__content--description {

  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  letter-spacing: 0.025em;
}

.values__content--description--purple {
  color: #6415ff;
}



.values__para {
  color: #7c8ba1;
  line-height: 1.625;
  font-size: 18px;
  font-weight: 500;
  margin: 32px 0;
}

.values__button {
  margin-top: 32px;
  border: none;
  background-color: #6415ff;
  color: white;
  padding: 12px 32px;
  border-radius: 500px;
  font-size: 14px;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}

.values__image--wrapper {
  display: flex;
  width: 50%;
}

.values__image {
  width: 100%;
}

.value {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.values__card {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  max-width: none;
  flex-direction: row;
}

.value__title {
  display: flex;
  align-items: center;
}

.value:nth-child(1) .values__card--image {
  background-color: #9ae6b4;
}

.values__card--image {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.values__card--title {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
}

.values__card--para {
  margin-top: 16px;
  line-height: 1.625;
  color: #718096;
  padding: 8px 16px;
}

.value:nth-child(2) .values__card--image {
  background-color: #feb2b2;
}

.values__card--image {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

/*

PRICING SECTION

*/

.pricing__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__content--title {
  text-align: center;
  color: #6415ff;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.pricing__content--description--purple {
  color: #6415ff;
}

.pricing__content--description {
  text-align: center;
  color: #243e63;
  margin: 16px 0 16px 0;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.25px;
}

.pricing__para {
  text-align: center;
  color: #7c8ba1;
  max-width: 576px;
  font-weight: 500;
  line-height: 1.625;
  font-size: 18px;
}

.plans {
  display: flex;
  position: relative;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.plan {
  position: relative;
  margin-top: 64px;
  display: flex;
  width: 100%;
  max-width: 384px;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgb(255 255 255);
  padding-left: 32px;
  padding-right: 32px;
  margin-right: 32px;
  padding-top: 8px;
  text-align: center;
  color: rgb(26 32 44);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__stripe {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__top {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  text-transform: uppercase;
  line-height: 1.625;
}

.plan__name {
  font-size: 20px;
}

.plan__name,
.plan__price,
.plan__duration {
  font-weight: bold;
  line-height: 1.625;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan__duration {
  font-size: 16px;
  letter-spacing: 0.1em;
}

.plan:nth-child(odd) .plan__duration {
  color: #a0aec0;
}

.plan__middle {
  margin-left: -32px;
  margin-right: -32px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan__feature {
  margin-top: 20px;
  font-weight: 500;
  color: #718096;
  font-size: 16px;
  line-height: 1.5;
}

.plan__bottom {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.plan__button {
  border-radius: 4px;
  padding: 12px 32px;
  font-weight: 700;
  color: rgb(247 250 252);
  transition: all 300ms ease;
  width: 100%;
  border-radius: 9999px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__feature {
  color: #f7fafc;
}

.plan:nth-child(2) .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__button {
  color: #6415ff;
  background-color: #f7fafc;
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__blob {
  z-index: -10;
  position: absolute;
  transform: translateX(-15%) translateY(-50%) scaleX(1) scaleY(1);
  height: 256px;
  width: 256px;
}

/*

STEPS SECTION

*/

#testimonials .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  flex-direction: row;
}

.testimonials__content {
  width: 100%;
  max-width: 576px;
  margin-right: 64px;
}

.testimonials__content--title {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.testimonials__content--description {
  line-height: 1.25;
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0;
  color: rgb(36, 62, 99);
  letter-spacing: 0.025em;
}

.testimonials__content--description--purple {
  color: #6415ff;
}

.testimonials__image--wrapper {
  display: flex;
  position: relative;
  margin: 0 56px;
  width: 40%;
}

.testimonials__image {
  width: 100%;
  height: 100%;
}

/*
.testimonials__image {
  width: 40%;
} */

.testimonials__box {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  width: calc(100% - 40%);
}

.testimonials__content--title {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.testimonial {
  margin-top: 40px;
}

.testimonials__box .fa-star {
  color: rgba(246, 173, 85);
}

.testimonial__title {
  line-height: 1.625;
  margin-top: 16px;
  font-size: 20px;
  font-weight: 700;
  color: #4a5568;
}

.testimonial__para {
  margin-top: 16px;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 1.625;
  font-size: 16px;
  color: rgb(74 85 104);
}

.testimonial__bottom {
  display: flex;
  justify-content: space-between;
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial__details {
  margin-left: 24px;
}

.testimonial__name {
  color: #4a5568;
  line-height: 1.625;
  font-size: 20px;
  font-weight: 700;
}

.testimonial__role {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__buttons {
  display: flex;
  align-items: center;
}

.testimonial__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #edf2f7;
  border-radius: 50%;
  margin: 0 12px;
  transition: all 300ms ease;
  border: none;
  color: #6415ff;
  cursor: pointer;
}

.testimonial__button svg {
  width: 16px;
  height: 16px;
  color: #6415ff;
  stroke: #6415ff;
}

.divider {
  margin-top: 12px;
  margin-bottom: 12px;
  border-right-width: 1px;
  width: 0.5px;
  background-color: #edf2f7;
  height: 20px;
}

/*


START SECTION 

*/

#start .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

#start .row {
  position: relative;
  overflow: hidden;
  background-color: #6415ff;
}

.start__blob--1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 320px;
  width: 320px;
  transform: translate(-5rem, 8rem);
  color: rgb(80 17 204);
  opacity: 0.5;
}

.start__blob--2 {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20rem;
  width: 20rem;
  transform: translate(5rem, -16rem);
  color: rgb(80 17 204);
  opacity: 0.5;
}

.start__container {
  padding: 96px 0;
  width: 100%;
  background-color: rgb(100, 21, 255);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__row {
  position: relative;
  overflow: hidden;
  width: 100%;

  width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title {
  color: white;
  width: 50%;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  z-index: 2;
  margin-right: 64px;
}

.start__buttons {
  width: auto;
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  background-color: #6415ff;
  cursor: pointer;
}

.start__button:nth-child(1) {
  background-color: #f56565;
  margin-right: 32px;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: all 300ms ease;
  border-bottom: #6415ff;
  border-right: #6415ff;
  border-top: #6415ff;
  border-left: #6415ff;
}

.start__button {
  padding: 16px 32px;
  border-radius: 500px;
  font-weight: 700;
  color: white;
  line-height: 1.5;
  margin: 1px;
  z-index: 2;
  background-color: #6415ff;
  cursor: pointer;
}

.start__button:nth-child(2) {
  border: 1px solid rgb(160, 174, 192);
  transition: all 300ms ease;
}

.start__button:nth-child(1):hover {
  background-color: darkred;
}

.start__button:nth-child(2):hover {
  background-color: lightgrey;
}

/* 

FOOTER SECTION

*/

footer {
    padding: 80px 32px;
  overflow: hidden;
  margin-bottom: -32px;
  position: relative;
  background-color: #6415ff;
}

.row__column {
  justify-self: start;
}

.footer__container {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.footer__blob--2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 320px;
  width: 320px;
  top: 0px;
  right: 0px;
  transform: translate(-80px, -170px);
  color: darkblue;
  opacity: 0.5;
  z-index: 1;
}


.footer__blob--3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: darkblue;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}

.footer__columns {
  margin-top: -48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__column {
  
  margin-top:48px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__column--title {
  color: #f7fafc;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.footer__column--link {
  color:#f7fafc ;
  font-size: 14px;  
  line-height: 1.5;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin-bottom: 10px;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__column--link::after {
    content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease;
}

.footer__column--link:hover::after {
  transform: scaleX(1);
}

.footer__divider {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 64px 0;
}

.footer__end {
  display: flex;
  justify-content: center;
  align-items: center;
}


.pleasework {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  height: 32px;
  width: 32px;
}

.footer__logo--text {
  font-size: 18px;
  color: #f7fafc;
  font-weight: 900;
  margin-left: 8px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.footer__copyright {
  color: #cbd5e0;
  font-weight: 500;
  justify-self: center;
  text-align: center;

}

.footer__socials {
 justify-self: end;
  margin: 0;
  margin-right:32px;
}

.footer__socials--link {
  margin-left: 16px;
  padding: 8px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: all 300ms ease;
}

.facebook {
  margin-left: 16px;
  padding: 8px;
  background: #f7fafc;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: all 300ms ease;
}

.twitter {
  margin-left: 16px;
  padding: 8px;
  background: #f7fafc;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: all 300ms ease;
}

.youtube {
  margin-left: 16px;
  padding: 8px;
  background: #f7fafc;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: all 300ms ease;
}


/*SMALL PHONES, TABLETS, LARGE SMARTPHONES */

  @media (max-width: 768px) {
  header .row,
  #quality .row,
  #steps .row,
  #values .row,
  #testimonials .row,
  .features__cards,
  .footer__links,
  .row__column,
  .footer {
    flex-direction: column;
  }

  .header__description,
  .header__img--wrapper,
  .quality__content,
  .quality__image--wrapper,
  .steps__content,
  .steps__image--wrapper,
  .values__description--box,
  .values__image--wrapper,
  .testimonials__box, .testimonials__image {
    width: 100%;
    max-width: 576px;
    margin: 0;
  }

  .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
  }

  .nav__links .nav__link { display: none; }
  .btn__menu { display: block; }

  h1 {
  font-size: 30px;
}

#quality .row, #values .row, .quality__row, {
  flex-direction: column-reverse;
}


.steps__content, .values__card, .start__buttons{
  flex-direction: column;
}

.step, .values__description--box {
  flex-direction: column;
        align-items:center;
        text-align: center;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value__title {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.step__number {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quality__content,{
  display: flex;
  justify-content: space-between;
  align-items: center;}

  .quality__content--description, .quality__para, .quality__content--description--purple, .steps__wordbox, .steps__list, .quality__content--title, {
    text-align: center;
    justify-content: center;
    align-items: cent
  }

  .quality__button {
    display: flex;
    justify-content: center;
    align-items: center;

  }

#steps .row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.plans {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  flex-direction: column;
  align-items: center;
  width: 100%;
}


    .feature {
        width: auto;
        max-width: 384px;
    }

        .start__container {
        padding: 80px 0;
    }

  }

  @media (max-width: 768px) {
  .footer__links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .pleasework {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .footer__socials {
    flex-direction: row;
  }

  .features__content--description--purple {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6415ff;
}

.features__cards {
  
        justify-content: center;
    }

    .testimonials__box {
        padding: 0;
        margin-top: 64px;
        text-align: center;
    }
}

@media (max-width: 640px) {
    .feature__row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .features__cards {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        .start__title {
        font-size: 24px;
    }

    .footer__columns {
      justify-content: center;
    }

    .footer__column {
      width:auto;
padding: 0 16px;
text-align: center;
align-items: center;
    }
}

@media (max-width: 1024px) {
    .feature__row {
        padding: 32px 8px;
        margin: 0 16px;
    }

    .plans {
        flex-direction: column;
        align-items: center;
}
.values__row, .values__description--box{
        flex-direction: column;
        align-items: center;
}

#start .container {
        padding-top: 5rem;
        padding-bottom: 5rem;

}

.start__row, .start__buttons{
        flex-direction: column;
    }

        .start__buttons {
        width: auto;
        margin-top: 24px;
    }

        .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
        align-items: center;
        margin-left: 32px;
    }

}

@media (max-width: 640px) {
    .start__button:nth-child(1) {
        margin-right: 0;
    }

        .start__button:nth-child(2) {
        margin-top: 16px;
    }
}